body {
	margin: 0px;
	background-image: url('https://media.giphy.com/media/ay4TtIJWnmWCA/giphy.gif');
}

a {
    font-size: 42px;
    text-decoration: none;
    background-color: white;
    border: 1px;
    border-radius: 15px;
    padding: 20px;
	margin: 10px;
	-webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
	display:inline-block;
}
a:hover {
	transform:scale(1.05);
}

#title {
	font-size: 62px;
    color: white;
	text-align:center;
}

#folderMenu {
	text-align:center;
}

